{% load static %}

{% url 'public:index' as index_url %}
{% url 'public:about' as about_url %}
{% url 'public:contact' as contact_url %}

<nav class="bg-blue-800 py-4">
    <div class="container">
        <div class="grid grid-cols-4 gap-4">
            <a href="{{ index_url }}">
                <img src="{% static 'src/img/logo.svg' %}" height="56" alt=""/>
            </a>

            <div class="col-start-2 col-end-5">
                <ul class="flex justify-end align-center items-center gap-2 h-full">
                    <li class="inline-block">
                        <a class="{% if request.path == index_url %}bg-gray-900 text-white{% else %}bg-white text-black{% endif %} font-bold uppercase p-2 rounded hover:bg-gray-900 hover:text-white transition duration-150 ease-in-out"
                           href="{{ index_url }}"
                        >
                            Home
                        </a>
                    </li>
                    <li class="inline-block">
                        <a class="{% if request.path == about_url %}bg-gray-900 text-white{% else %}bg-white text-black{% endif %} font-bold uppercase p-2 rounded hover:bg-gray-900 hover:text-white transition duration-150 ease-in-out"
                           href="{{ about_url }}"
                        >
                            About
                        </a>
                    </li>
                    <li class="inline-block">
                        <a class="{% if request.path == contact_url %}bg-gray-900 text-white{% else %}bg-white text-black{% endif %} font-bold uppercase p-2 rounded hover:bg-gray-900 hover:text-white transition duration-150 ease-in-out"
                           href="{{ contact_url }}"
                        >
                            Contact
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>